{% extends 'master.html' %}
{% load static %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block main %}
<div class="row" id="data_list">
    {% for item in object_list %}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    {% if item.event.image %}
                    <img src="{{ item.event.image.url }}"  height="150px" width="300px">
                    {% else %}
                    <img src="{% static 'images/no_url.svg' %}"  height="150px" width="300px">
                    {% endif %}
                    <a class="btn-floating halfway-fab waves-effect waves-red white" onclick="userLikeThis(event)" data-id="{{item.event.id}}" >
                        <i class="material-icons red-text">
                            favorite
                        </i>
                    </a>
                </div>
                <div class="card-content">
                    <span style="color: #e65100;font-weight: bold;">{{ item.event.time|date:"D, M j, Y h:i A e" }}</span>
                    <span class="card-title" style="color: #4a148c ;font-weight: bold;">{{ item.event.name|truncatechars:40 }}</span>
                    <p style="color: #9c27b0;">{{ item.event.data|truncatechars:125 }}</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'detail_event' item.id %}">Read More</a>
                    <a href="{{ item.event.get_absolute_url }}">Edit</a>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="col">
            <img src="{% static 'images/no_item.svg' %}" class="materialboxed" width="100%" alt="No Item">
        </div>
    {% endfor %}
</div>
{% endblock main %}

{% block javascript %}
{% if user.is_authenticated %}
<script>
    const data_list = document.getElementById('data_list')
    function userLikeThis(event){
        event.target.parentElement.classList.add('disabled')
        fetch("{% url 'like_event' %}", {
            method: 'POST',
            credentials: 'same-origin',
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                'X-CSRFToken': "{% if request %}{{ csrf_token }}{% endif %}",
            },
            body: JSON.stringify({'event_id': event.target.parentElement.dataset.id}) //JavaScript object of data to POST
        })
        .then(response => response.json())
        .then(data => {
            event.target.parentElement.classList.remove('disabled')
            if(data.is_like){
                event.target.innerHTML = "favorite"
            }else{
                event.target.parentElement.parentElement.parentElement.parentElement.remove()
                if(data_list.childElementCount === 0){
                    data_list.innerHTML = `
                    <div class="col">
                        <img src="{% static 'images/no_item.svg' %}" class="materialboxed" width="100%" alt="No Item">
                    </div>
                    `
                }
            }
        })
        .catch(error => {
            console.log(error)
        })
    }
</script>
{% else %}
<script>

</script>
{% endif %}
{% endblock %}