    <div class="input-field col s12">
      <input name="{{ field.name }}" id="{{ field.id_for_label }}" type="{{ field.widget_type }}" {% if field.value %}value="{{ field.value }}"{% endif %} class="validate {% if field.errors %}invalid{% endif %}">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {% if field.help_text or field.errors %}
      <span class="helper-text" data-error="{% for error in field.errors %}{{ error }}{% endfor %}">{{ field.help_text|safe }}</span>
      {% endif %}
    </div>