{% extends 'master.html' %}
{% block main %}
<div class="row">
    <div class="col">
        <h1>About Us</h1>
        <p>Welcome to Eventbrite, your number one source for all things. We're dedicated to providing you the best of event, with a focus on dependability.</p>
        <p>We're working to turn our passion for Eventbrite into a booming online store. We hope you enjoy our event as much as we enjoy offering them to you.</p>
        <h1>Contact Us</h1>
        <p>If you have any questions about these, You can contact us:</p>
        <ul>
        <li>By email: shyamkumaryadav2003@gmail.com</li>
        </ul>
        <p>Sincerely,</p>
        <p>Shyamkumar Yadav</p>
    </div>
</div>
{% endblock main %}