{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <title>Eventbrite</title>
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block stylesheet %}
    {% endblock stylesheet %}
</head>
<body>
    <nav>
        <div class="nav-wrapper darken-4 white">
            <a href="/" class="brand-logo red-text" style="padding: 0 10px;font-weight: bold;">Eventbrite</a>
            <ul id="nav-mobile" class="right">
              {% block filter %}
              {% endblock filter %}
              <li><a class="waves-effect  black-text" id="openNav"><i class="material-icons">menu</i></a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav">
        <li>
          <div class="user-view">
            <div class="background">
              <img src="{% static 'images/sea.png' %}" alt="image background sea" style="width:100%" />
            </div>
            <img class="circle" src="{% if user.is_authenticated %}{% static 'images/Avatar_happy.png' %}{% else %}{% static 'images/Avatar.png' %}{% endif %}" alt="user avatar"/>
            {% if user.is_authenticated %}
            <a href="#!"><span class="white-text name">Welcome {{ user.username }}</span></a>
            <a href="mailto:{{ user.email }}" target="_blank" rel="noreferrer"><span class="white-text email">{{ user.email }}</span></a>
            {% else %}
            <span>AnonymousUser</span>
            {% endif %}
          </div>
        </li>
        <li><a href="{% url 'list_event' %}" class="waves-effect"><i class="material-icons">home</i>Home</a></li>
        <li><a href="{% url 'about' %}" class="waves-effect"><i class="material-icons">face</i>About</a></li>
        <li><a href="{% url 'terms' %}" class="waves-effect"><i class="material-icons">book</i>Terms</a></li>
        {% if event_name_filter|length > 0 %}<li class="hide-on-med-and-up"><a class="waves-effect modal-trigger" href="#modal_filter"><i class="material-icons">search</i>Search Event by Name</a></li>{% endif %}
        {% if user.is_authenticated %}
        <li><div class="divider"></div></li>
        <li><a href="/#" class="subheader">{{ user.get_full_name|default:"! please enter your First name" }}</a></li>
        <li><a class="waves-effect" href="{% url 'user_update' user.pk %}"><i class="material-icons">edit</i>Update info</a></li>
        <li><a class="waves-effect" href="{% url 'events_like' %}"><i class="material-icons">grid_view</i>Likes</a></li>
        {% if user.is_staff %}<li><a class="waves-effect" href="{% url 'add_event' %}"><i class="material-icons">add</i>Add Event</a></li>{% endif %}
        <li><a class="waves-effect" href="{% url 'password_change' %}"><i class="material-icons">password</i>Password Change</a></li>
        <li><a class="waves-effect" href="{% url 'logout' %}"><i class="material-icons">logout</i>Logout</a></li>
        {% else %}
        <li><a class="waves-effect" href="{% url 'signup' %}"><i class="material-icons">person_add_alt</i>Sign up</a></li>
        <li><a class="waves-effect" href="{% url 'login' %}"><i class="material-icons">login</i>Login</a></li>
        {% endif %}
      </ul>
    <main>
      <div class="container">
        {% block main %}
        {% endblock main %}
      </div>
      {% if is_paginated %}
      <div aria-label="row">
          <ul class="pagination center">
              <li class="{% if page_obj.has_previous is False %}disabled{% else %}waves-effect{% endif %}">
                  <a href="{% if page_obj.has_previous %}?page=1{% else %}#!{% endif %}">First
                  </a>
              </li>
              <li class="{% if page_obj.has_previous is False %}disabled{% else %}waves-effect{% endif %}">
                  <a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#!{% endif %}"><span aria-hidden="true">&laquo;</span></a>
              </li>

              {% for num in page_obj.paginator.page_range %}
                  {% if page_obj.number == num %}
                  <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                  {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                  <li class="waves-effect"><a href="?page={{ num }}">{{ num }}</a></li>
                  {% endif %}
              {% endfor %}

              <li class="{% if page_obj.has_next is False %}disabled{% else %}waves-effect{% endif %}">
                  <a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#!{%endif%}"><span aria-hidden="true">&raquo;</span></a>
              </li>
              <li class="{% if page_obj.has_next is False %}disabled{% else %}waves-effect{% endif %}">
                  <a href="{% if page_obj.has_next %}?page={{ page_obj.paginator.num_pages }}{% else %}#!{%endif%}">Last</a>
              </li>
          </ul>
      </div>
    {% endif %}
    </main>
    
    <footer class="page-footer darken-2 blue">
        <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Shyamkumar Yadav</h5>
                <p class="grey-text text-lighten-4">कष्ट में किये गए कर्मों से भाग्य का निर्माण होता है | -- गीता</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact Me</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.github.com/shyamkumaryadav/">Github</a></li>
                  <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.linkedin.com/in/shyamkumaryadav/">Linkedin</a></li>
                  <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.instagram.com/ishyamkumaryadav">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" target="_blank" href="https://twitter.com/shyamkumaryada">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/ishyamkumaryadav">Facebook</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container center">
            © <span id="year"></span> Copyright by Shyamkumar yadav
            </div>
            <script>
              document.getElementById('year').innerHTML = new Date().getFullYear()
            </script>
          </div>
    </footer>
    {% if event_name_filter %}
  <div id="modal_filter" class="modal modal-fixed-footer">
      <form method="get">
          <div class="modal-content input-field col s12">
            <a class="modal-close waves-effect btn-flat secondary-content"><i class="material-icons  black-text">close</i></a>
              <h4>Filter</h4>
              <input
                  type="text"
                  name="{{ filter.form.name__icontains.name }}"
                  id="{{ filter.form.name__icontains.id_for_label }}"
                  placeholder="{{ filter.form.name__icontains.label }}"
                  autofocus
                  {% if filter.form.name__icontains.value %}value="{{ filter.form.name__icontains.value }}"{% endif %}
                  class="autocomplete"
              >
          </div>
          <div class="modal-footer">
              <button type="submit" class="modal-close waves-effect waves-green btn-flat">Submit</button>
              <a onclick="location.href = location.pathname" class="modal-close waves-effect waves-green btn-flat">Clear</a>
          </div>
      </form>
    </div>
{% endif %}
</body>
<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% if event_name_filter %}
<script>
  var instances = M.Autocomplete.init(document.querySelectorAll('.autocomplete'), {
      data:{
          {% for item in event_name_filter %}
          "{{ item }}": null,
          {% empty %}
          "404": '{% static 'image/404.svg' %}'
          {% endfor %}
      }
  });
  const filter_modal = M.Modal.getInstance(document.getElementById("modal_filter"));
  document.addEventListener('keyup', event => {
    if(event.key === '/' ){
      if (!filter_modal.isOpen){
        filter_modal.open();
        
      }else filter_modal.close()
    }
  })
</script>
{% endif %}
{% block javascript %}
{% endblock javascript %}
</html>